
.aboutSection{
    z-index: 1;
}
.codSoftLogo{
    height: 1.5em!important;
    object-fit: cover;
}
.skills{
    color:  rgb(214, 72, 96);
}
.webDevelopmentSkill span , .experience span , .courseTitle{
    color:  rgb(214, 72, 96);
    font-size: medium;
}
.skillsSets{
    cursor: pointer;    
}
.aboutPhoto{
    width: 100%;
    height: 100%;
}
.photoBg{
    padding: 1em;
}
.active{
    padding-left:5px ;
    border-bottom:2px solid rgb(214, 72, 96);
    transition: all 0.5s;
}
.companyLogo{
    width: 100%;
    height: 100%;
}
.logos{
    flex-basis: 2em;
}

.zoomOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.zoomOverlay img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

@media only screen and (max-width: 767px){
    .photoBg{
        width: 50%;
        margin: 0 auto;
    }
}
