.footerSection {
    background-color: black;
}

.followText .icons {
    padding: 15px;
    color:white;
}

.followText .icons:hover {
    color: #ff004f;
      width: 100%;  
}
.linkColor{
    background-color: black;
    border:none;
    transition: transform 0.5s;
}
.linkColor:hover{
    transform: scale(1.2);
    text-decoration: underline;
    border-bottom: 1px solid #ff004f;
}


